<div class="well">
  <form (ngSubmit)="trylogin()">
    <div class="form-group">
      <label for="username">Login Name</label>
      <input type="text"
             class="form-control"
             name="username"
             id="username"
             [(ngModel)]="userlogin.username"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               name="password"
               id="password"
               [(ngModel)]="userlogin.password"/>
      </div>
      <button class="btn btn-success" type="submit">Log me in</button>
  </form>
</div>
