<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
          http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-4.0.xsd
            http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
           http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"
			default-autowire="byName">

<bean 	id="quete1"
		class="com.khalid.springKamelot.beans.QueteBasic">
		<property name="description" value="compter les pierre du chateau"></property>
		<property name="difficulte" value="2.0"></property>

</bean>
<bean 	id="quete2"
		class="com.khalid.springKamelot.beans.QueteBasic">
		<property name="description" value="nettoyer les ecuries"></property>
		<property name="difficulte" value="1.5"></property>

</bean>
<bean 	id="quete3"
		class="com.khalid.springKamelot.beans.QueteBasic">
		<property name="description" value="faire tour de garde"></property>
		<property name="difficulte" value="4.5"></property>

</bean>
<bean 	id="quete4"
		class="com.khalid.springKamelot.beans.QueteEpique">
		<property name="description" value="sauver une dame en detresse !"></property>
		<property name="difficulte" value="5.5"></property>

</bean>
<bean id="quete5" 
	  class="com.khalid.springKamelot.beans.QueteEpique">
	  <property name="description" value="manger un sanglier de la montagne de feu" />
	  <property name="difficulte" value="4.5"/>
</bean>

<bean id="ecurie"
	  class="com.khalid.springKamelot.beans.Ecurie">
	  <property name="chevaux">
	  	<list>
	  		<bean class="com.khalid.springKamelot.beans.Cheval">
	  			<constructor-arg index="0" value="tonerre" />
	  		</bean>
	  		<bean class="com.khalid.springKamelot.beans.Cheval">
	  			<constructor-arg index="0" value="bourriquet" />
	  		</bean>
	  		<bean class="com.khalid.springKamelot.beans.Cheval">
	  			<constructor-arg index="0" value="jolly jumper" />
	  		</bean>
	  		<bean class="com.khalid.springKamelot.beans.Cheval">
	  			<constructor-arg index="0" value="tornado" />
	  		</bean>
	  	</list>
	  </property>
</bean>



<bean id="karadoc"
	  class="com.khalid.springKamelot.beans.ChevalierTableRonde">
	  <constructor-arg index="0" value="karadoc"/>
	  <property name="quete" ref="quete5"/>
	  <property name="competence" value="6.5" />
	  <property name="monture">
	  		<bean class="com.khalid.springKamelot.beans.Cheval"
	  			  factory-bean="ecurie"
	  			  factory-method="fournirCheval" >
	  		</bean>
	  </property>
</bean>

<bean id="jacquouuille" 
		class="com.khalid.springKamelot.beans.ChevalierBasic">
		<constructor-arg index="0" value="jacquouuille"></constructor-arg>
		<property name="quete" ref="quete1" />
		<property name="competence" value="4.0"></property>
</bean>
<bean id="goedefrois" 
		class="com.khalid.springKamelot.beans.ChevalierBasic">
		<constructor-arg index="0" value="goedefrois"></constructor-arg>
		<property name="quete" ref="quete4" />
		<property name="competence" value="12.5"></property>
</bean>

<bean id="terminator" 
	  class="com.khalid.springKamelot.beans.ChevalierBasique"
	  lazy-init="true" >
	  <constructor-arg index="0" value="terminator"/>
	  <property name="quete" ref="quete3" />
	  <property name="competence" value="8.5" />
</bean>


<bean id="lancelot" 
	  class="com.khalid.springKamelot.beans.ChevalierTableRonde">
	  <constructor-arg index="0" value="lancelot"/>
	  <property name="quete" ref="quete4" />
	  <property name="competence" value="9.5" />
	  <property name="monture">
	  		<bean class="com.khalid.springKamelot.beans.Cheval"
	  			  factory-bean="ecurie"
	  			  factory-method="fournirCheval" >
	  		</bean>
	  </property>
</bean>

<bean id="link" 
	  class="com.khalid.springKamelot.beans.ChevalierTableRonde">
	  <constructor-arg index="0" value="link"/>
	  <property name="quete">
	  		<bean class="com.khalid.springKamelot.beans.IQuete"
	  				factory-bean="merlin"
	  				factory-method="genererQuete"></bean>
	  </property>
	  <property name="competence" value="8.5" />
	  <property name="monture">
	  		<bean class="com.khalid.springKamelot.beans.Cheval"
	  			  factory-bean="ecurie"
	  			  factory-method="fournirCheval" >
	  		</bean>
	  </property>
</bean>

<bean id="merlin"
		class="com.khalid.springKamelot.beans.Merlin">
		<property name="actions">
			<list>
				<value>sauver</value>
				<value>rapporter</value>
				<value>escorter</value>
				<value>purifier</value>
				<value>trucider</value>
			</list>
		</property>
		<property name="sujets">
			<list>
				<value>dame</value>
				<value>princesse</value>
				<value>dragon</value>
				<value>tresor</value>
				<value>chevalier</value>
			</list>
		</property>
		<property name="qualificatifs">
			<list>
				<value>du lac</value>
				<value>lambda</value>
				<value>mystique</value>
				<value>noir</value>
				<value>mignon</value>
			</list>
		</property>


</bean>
<bean id="assurancetourix"
		class="com.khalid.springKamelot.beans.Menestrel"></bean>
		
		<aop:config>
			<aop:aspect ref="assurancetourix">
				<aop:pointcut 
				expression="execution(* com.khalid.springKamelot.beans.ChevalierTableRonde.partir*(..)) and target(bean)" 
				id="avantQuete"/>
				<aop:pointcut 
				expression="execution(* com.khalid.springKamelot.beans.Chevalier*.partir*(..)) and target(bean)" 
				id="apresQuete"/>
				<aop:before method="chanterAvant" pointcut-ref="avantQuete" arg-names="bean"/>
				  
				<aop:after-returning method="chanterApres" pointcut-ref="apresQuete" arg-names="bean"/>
				
				
			</aop:aspect>
		
		</aop:config>

</beans>
