<div class="panel">
  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>NOM</th>
      <th>EMAIL</th>
      <th>SOLDE</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of clients | async">
      <td>{{c.id}}</td>
      <td>{{c.nom}}</td>
      <td>{{c.email}}</td>
      <td>{{c.solde}}</td>
      <td>
        <button class="btn btn-danger" (click)="suppression(c.id)">Supprimer</button>
        <button class="btn btn-success" (click)="edition(c.id)">Editer</button>
      </td>
    </tr>
  </table>
</div>
